@mixin container-center {
    width: 1280px;
    margin: 0 auto;
}

@mixin inline-list {
    display: flex;
    list-style: none;
}

@mixin flex-center ($axis: 'both') { 

    display: flex;
    
    @if $axis == 'horizontal' {
        justify-content: center;
    } @else if $axis == 'vertical' {
        align-items: center;
    } @else if $axis == 'both' {
        justify-content: center;
        align-items: center;        
    }
}